---
import BaseLayout from "../../layout/BaseLayout.astro";
import Grid from "../../components/Grid.astro";
import Card from "../../components/CCard.astro";

const randomInt = (span = 1) => Math.floor(Math.random() * span);

const items = [...Array(16)].map((_, i) => {
    return {
        id: crypto.randomUUID(),
        index: i,
        width: (2 + randomInt(2)) * 100,
        height: (2 + randomInt(3)) * 100,
    };
});
---

<BaseLayout>
    <Grid>
        {
            items.map(async ({ id, index, width, height }) => {
                let src = `https://picsum.photos/seed/${id}/${width}/${height}`;
                let res = await fetch(`https://picsum.photos/seed/${id}/info`);
                let info: {
                    id: string;
                    author: string;
                    width: number;
                    height: number;
                    url: string;
                } = await res.json();
                return (
                    <Card>
                        <Fragment slot="info">
                            <h2>{info.author}</h2>
                            <span>id: {info.id}</span>
                            <span>width: {info.width}</span>
                            <span>heigh: {info.height}</span>
                            <a href={info.url} target="_blank">
                                source
                            </a>
                        </Fragment>
                        <img
                            slot="picture"
                            {src}
                            {width}
                            {height}
                            alt={`A photo taken by ${info.author}`}
                            title={`A photo taken by ${info.author}`}
                            loading="lazy"
                            decoding="async"
                        />
                    </Card>
                );
            })
        }
    </Grid>
</BaseLayout>
